@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* Costum property */

:root{
    --leading: 2em;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
}

.hero-bg{
    background-image: url('./images/bg1.jpg');
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 4em 0;
}

header{
    padding: 1em 0;
}

/* Every link */

.hero-bg a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

h1{
    font-size: 2.5rem;
}

h1 span{
    text-transform: uppercase;
    color: black;
    z-index: 1;
    position: relative;
    display: block;
}

h1 span::before{
    content: '';
    position: absolute;
    width: 3em;
    background: linear-gradient(yellow, orange);
    height: 10px;
    z-index: -1;
    bottom: 0;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
    
}

.form-container{
    background-color: white;
    margin: 2em --1em 0;
    padding: 2em;
    color: orange;
}

.form-container p{
    margin-top: 10px;
    font-size: 12px;
}

label{
    display: block;
}

#city{
    width: 100%;
    border-radius: 5px;
    border: 2px solid burlywood;
    text-align: center;
}

#btnFind{
    width: 100%;
    color: white;
    background-color: orange;
    border-radius: 5px;
    border: none;
    height: 25px;
}

.form-right{
    text-align: center;
    padding: 0em 5em 0em;
}

h2::before{
    content: '';
    position: absolute;
    width: 3em;
    background: linear-gradient(yellow, orange);
    height: 7px;
    bottom: 9%;
    z-index: -1;
}

img{
    width: 100%;
}

p{
    line-height: var(--leading);
}

/* Determine size design */

@media (min-width: 500px){

    section{
        margin: 0 5em;
    }

    .form-container{
        border-radius: 10px;
    }

}

@media (min-width: 700px){

    .top{
        text-align: left;
    }

    section{
        margin-left: 10px;
        margin-right: 30%;
    }

    .form-container{
        margin-left: 30px;
        width: 70%;
        box-shadow: 10px 10px 10px black;
    }

    #inputContainer{
    }

}
